<html>
    <head>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <form class="form-horizontal" action="/" method = 'POST'>
            {% csrf_token %}        
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-success btn-block" type = 'submit'>Cadastrar</button>
      </form>

    </body>

</html>
